body{

    background-image: conic-gradient(blue, rgba(0, 140, 255, 0.952), rgb(0, 255, 170), rgb(0, 255, 21), rgb(133, 5, 253));
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .main{

    display: flex;
    background-color: white;
    justify-content: space-around;
    border-radius: 3%;
    margin-top: 100px;
    padding-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 30px;

 }

 .firstimage{
     display: flex;
     align-items: center;
     justify-content: center;
     padding-left: 25px;
     padding-right: 50px;
 }

 .intro{
     display: flex;
     flex-direction: column;
     padding-right: 50px;
 }

 .name{
     font-size: 50px;
     font-family: 'Luxurious Roman', cursive;
     display: flex;
     justify-content: center;

 }

 .last{
    font-size: 40px;
    font-family: 'Luxurious Roman', cursive;
    margin-top: -30px;
    display: flex;
    justify-content: center;

 }

 .designation{
     font-size: x-large;
     display: flex;
     justify-content: center;
     margin-top: -20px;


 }
 .detail{
    display: flex;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.747);

 }

 .list{
     display: flex;
     list-style-type: none;
     justify-content: center;
     flex-direction: column;
     margin-top: 50px;
     margin-left: 30px;
     font-size: large;
     line-height:2.8;
     padding-right: 50px

 }

 .icon{
    list-style-type: none;
    margin-right: -10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;
    margin-left: -30px;
    margin-right: -40px;
    line-height:50px;
 }

 .introdetail{
    background-color: whitesmoke;
    padding-left: 10px;
    opacity: 0.5;
    border-radius: 4%;
    margin-left: 50px;
    margin-right: 50px;
    
    
 }

.para{
    
    font-size: x-large;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 900

}
.aboutme{
    font-family: 'Luxurious Roman', cursive;
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}